body{
    background-color: #FFFDF6;
}

h4{
    font-size: 32pt;
    color: #6A2711;
}

h1{
    font-size: 144pt;
}

h2{
    font-size: 96pt;
    color: #6A2711;
}

h3{
    font-size: 32pt;
    color: #6A2711;
}

p{
    font-size: 32pt;
    color: #6A2711;
}