body{
    background-color: #FFFDF6;
}

h4{
    font-family:"Hubballi";
    font-size: 32px;
    color: #6A2711;
    margin: 0;
}

h1{
    font-family: "Moul", "Regular";
    font-size: 144px;
    text-align: right;
    line-height: 156px;
    margin: 0;
}

h2{
    font-family: "IM FELL Great Primer SC";
    font-weight: lighter;
    font-size: 96px;
    color: #6A2711;
    margin: 0;
}

h3{
    font-family:"Hubballi";
    font-size: 40px;
    color: #6A2711;
    margin-top: 0;
    margin-bottom: 25px;
}

p{
    font-family:"Hubballi";
    font-size: 32px;
    color: #6A2711;
    margin: 0;
}

.title{
    margin-top: 75px;
    margin-left: 88px;

}

.flower_language{
    position: relative;
    margin-top: 275px;
    margin-right: 168px;
    
}

.images{
    float: right;
    margin-top: -900px;

}